<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br><br><br>
    <center><h3>Oops, Page not found</h3>
    <img src="https://i.pinimg.com/originals/d8/dc/2e/d8dc2e591dd6f13dbd43150c5cf7588a.gif" height="350px" width="350px"><br>
    <a href="/" class="waves-effect orange lighten-1 waves-light btn">Go to home</a>
    </center>



</body>
</html>